body {
  color: #05abcd;
}

.flex-container {
  background-color: #1c2331 !important;
  display: flex;
  justify-content: space-around;
  background: #fff;
  align-items: center;
  height: 100vh;
}

.label-text {
  font-size: 20px;
}

.text-box {
  background-color: #1c232f;
  border: 2px solid #2d3443;
  border-radius: 5px;
  color: #fff;
  font-size: 2rem;
  height: 3rem;
  width: 50vw;
}

.countdown-timer-counter {
  font-size: 3rem;
  font-weight: bold;
}

.countdown-timer-container {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.icon-button {
  background-color: #05abcd;
  border: none;
  border-radius: 50%;
  color: #1c232f;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  height: 4rem;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 4rem;
}

/* utils */

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
